<%= form_with(model: @watch_item, local: true, html: { multipart: true }) do |form| %>
  <% if @watch_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watch_item.errors.count, "error") %> prohibited this watch item from being saved:</h2>
      
      <ul>
        <% @watch_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, required: true %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, required: true %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
