<div class = "main-container">
<h1 class = "title glow">To Watch</h1>
<table id ="table">
    <thead>
        <tr>
            <th class = "cell label">Title</th>
            <th class = "cell label">Genre</th>
        </tr>
    </thead>
    <tbody>
        <% @watch_items.each do |watch_item| %>
            <tr>
                <td class = "cell"><%= watch_item.title %></td>
                <td class = "cell"><%= watch_item.genre %></td>
                <td>
                    <%= link_to 'Show', watch_item, class: "button"%>
                    <%= link_to 'Edit', edit_watch_item_path(watch_item), class: "button" %>
                    <%= link_to 'Delete', watch_item, data: { turbo_method: :delete }, class: "button" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

    <%= link_to 'Add Title', new_watch_item_path, class: "new-button"%>
</div>
